.container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
}

/* color presets */

.container_color_peach {
  background-color: #ffe5b4;
}

.container_color_violet {
  background-color: #8f00ff;
}

.container_color_black {
  background-color: #000;
}
